<div class="head">
    <section class="left">
        <h2>AMINE <br> BEN NEJI</h2>
        <p style="letter-spacing: 1em;">Développeur<br> <br> Web
        </p>

        <img class="moi" [src]="chemin" alt="une photo d'Amine Benneji">

        <!-- <div class="ligne"></div> -->
    </section>

    <section class="right">
        <p> Agé de 24 ans, avide de connaissances et d'évolution. L'immersion professionnelle serait la continuité
            logique de ma
            démarche d'apprentissage et du chemin visant à faire du métier de Développeur mon activité , d'explorer
            d'avantages de
            langages et d'en découvrir plus sur cette industrie qui m'épanouis déjà </p>

        <ul class="contacts">
            <li>ÂGE :<p> 24ans </p>
            </li>
            <li>ADRESSE : <p> 64A rue Georges Maertens. Saint André Lez Lille 59350</p>
            </li>
            <li>@Mail : <p>aminebneji@gmail.com</p>
            </li>
            <li>TEL : <p> 06 . 29 . 41 . 12 .50</p>
            </li>
        </ul>
    </section>


</div>