.head {
    display: flex;
    margin: 0;
    background-color: #3d4b91;

}

// font-family: 'Cousine', monospace;
// font-family: 'Fira Sans', sans-serif;

.left {
    width: 70%;
    min-height: 80vh;
    text-align: center;

    h2 {
        margin-left: 45vh;
        margin-top: 7vh;
        margin-bottom: 10vh;
        font-family: 'Fira Sans', sans-serif;
        font-size: 90px;
        color: white;
        font-weight: 800;

    }

    .moi {

        margin-bottom: 17vh;
    }

    // .ligne {
    //     border-left: 2px solid rgba(191, 182, 182, 0.976);
    //     width: 50%;
    //     height: 680%;
    //     margin-left: 101.5vh;

    // }

}

.right {
    width: 30%;
    min-height: 80vh;


    p {
        margin-right: 10vh;
        margin-top: 10vh;
        margin-bottom: 15vh;
        font-family: 'Cousine', monospace;
        font-size: 20px;
        color: white;
        line-height: 1.5;
        font-weight: 700;
    }

    .contacts {
        list-style: square;
        font-family: 'Cousine', monospace;
        font-size: 20px;
        color: white;
        font-style: italic;
        font-weight: 700;
        margin-right: 15vh;
        text-align: left;

        li {
            margin-bottom: 2vh;
        }
    }

}