<div class="head">
    <section class="left">
        <h2>AMINE <br> BEN NEJI</h2>
        <p style="letter-spacing: 1em;">Développeur<br> <br> Web
        </p>

        <img class="moi" [src]="chemin" alt="une photo d'Amine Benneji">

        <!-- <div class="ligne"></div> -->
    </section>

    <section class="right">
        <p> Afin de poursuivre mon projet professionnelle, je suis à la recherche d'une Alternance dans le Développement
            Front-End. Et ainsi faire mes preuves pour faire de cette activité mon métier. <br>
            Passionné par la programmation je me forme de manière autodidacte et via des parcours de formations sur
            plusieurs langages et frameworks différents.
            <br> Je suis mobile dans la métropole Lilloise, prenez contacte avec moi dès aujourd'hui pour construire
            ensemble vos projets de demain
        </p>

        <ul class="contacts">
            <li>ÂGE :<p> 24 ans </p>
            </li>
            <li>ADRESSE : <p> 64A rue Georges Maertens <br> Saint André Lez Lille 59350</p>
            </li>
            <li>@Mail : <p>aminebneji@gmail.com</p>
            </li>
            <li>TEL : <p> 06 . 29 . 41 . 12 . 50</p>
            </li>
        </ul>
    </section>


</div>