<body>

    <div class="text">

        <div class="presentation-bloc">
            <p class="presentation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi alias tempore dolorem
                dolores voluptate commodi quo consequatur. Consequatur deserunt ut, fugiat magni iste tenetur sed ipsum
                commodi molestias nihil sit odio officiis veniam autem hic sequi aperiam asperiores praesentium, itaque,
                necessitatibus officia incidunt. Dolorum autem iure nulla officiis ea. </p>
        </div>

        <div class="sujet-bloc">
            <p class="sujet">Développeur Junior <br> Alternance <br> 02/2023 - 08/2023 <br> Développeur Web Web Mobile</p>
        </div>
        <h1>Amine Benneji </h1>

    </div>

    <section class="image">

    </section>
</body>