.head {
    display: flex;
    margin: 0;
}

.right {
    width: 33.3%;
    min-height: 80vh;
    background-color: #c1c1fe;


    h2 {
        margin-left: 12%;
        margin-top: 5%;
        color: #e0e0d3;
        font-family: 'Times New Roman', Times, serif;
        font-size: 55px;
        font-weight: 900;
        text-shadow: black 0.5px 0.5px 0.5px;
    }

    .Simplon {
        color: #e0e0d3;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: 900;
        text-shadow: black 0.5px 0.5px 0.5px;

        h2 {
            margin-left: 10%;
            font-size: 35px;
        }

        p {
            margin-left: 10%;
            font-size: 20px;

        }

    }


}

.middle {
    width: 33.3%;
    min-height: 80vh;
    background-color: #d0d0e8;

}

.left {
    width: 33.3%;
    min-height: 80vh;
    background-color: #e0e0d3;

}