.footer {
    z-index: 999999999;
    height: 30vh;
    background-color: #3d4b91;
    font-family: 'Fira Sans', sans-serif;
    border-top: rgba(243, 238, 238, 0.568) solid;
    border-width: 3px;


    .links {
        display: flex;
        justify-content: center;

        img {
            width: 80px;
            height: 80px;
            margin: 55px;
        }
    }

    p {
        margin-top: 3%;
        margin-left: 85%;
        color: rgba(243, 238, 238, 0.568);
    }
}