<section class="bckgrnd">


  <div class="carousel">
    <div class="slides">
      <img class="active" style="width:250px;height:250px;" src="../../assets/VsCode.png" alt="VsCode" />
      <img style="width:250px;height:250px;" src="../../assets/bootstrap.png" alt="Bootstrap" />
      <img style="width:250px;height:250px;" src="../../assets/angular.png" alt="angular" />
      <img style="width:210px;height:210px;" src="../../assets/symfony.png" alt="symfony" />
      <img style="width:250px;height:250px;" src="../../assets/CSharpDotnet.png" alt="cSharp.net" />
      <img style="width:250px;height:200px;" src="../../assets/PHP.png" alt="PHP" />
      <img style="width:250px;height:250px;" src="../../assets/Mysql.png" alt="Mysql" />
    </div>
    <div class="overlays">
      <section class="active" style="background-color: #3d4b91;"></section>
      <section style="background-color: rgb(245, 168, 24)"></section>
      <section style="background-color: #3d4b91;"></section>
      <section style="background-color: rgb(245, 168, 24)"></section>
      <section style="background-color: #3d4b91;"></section>
      <section style="background-color: rgb(245, 168, 24)"></section>
      <section style="background-color: #3d4b91;"></section>
    </div>
    <div class="nav-links">

      <a (click)="onScreen(0)" class="nav-link">Visual studio Code</a>
      <a (click)="onScreen(1)" class="nav-link">Bootstrap</a>
      <a (click)="onScreen(2)" class="nav-link">Angular</a>
      <a (click)="onScreen(3)" class="nav-link">Symfony</a>
      <a (click)="onScreen(4)" class="nav-link">C# .NET</a>
      <a (click)="onScreen(5)" class="nav-link">PHP</a>
      <a (click)="onScreen(6)" class="nav-link">MySql</a>



    </div>
  </div>
</section>