
    

<div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
        <h2 class="timeline-header__title">Experiences</h2>
        <h3 class="timeline-header__subtitle">Amine Ben neji</h3>
    </div>
    <div class="timeline" >
        <div class="timeline-item" data-text="10/2022 - 02/2022">
            <div class="timeline__content"><img class="timeline__img" src="../../assets/wf3-PhotoRoom.png" />
                <h2 class="timeline__content-title">WebForce 3</h2>
                <p class="timeline__content-desc"> Une formation axée sur les bases de la programmation et sur les technologies PHP, symfony et Angular.  
                </p>
            </div>
        </div>
        <div class="timeline-item" data-text="01/2022 - 04/2022">
            <div class="timeline__content"><img class="timeline__img"
                    src="../../assets/Aston.png" />
                <h2 class="timeline__content-title">Aston Ecole</h2>
                <p class="timeline__content-desc">La deuxième partie d'une Formation Invest in Digital Pepole de Pole Emploi. J'ai continué à approfondir mes bases en Angular Typescript. 
                    j'y ai découvert plus en profondeur le language C# et un des frameworks qui l'utilise : .Net . J'ai aussi pus m'initier au SQL avec MySQL Workbench. J'ai suivi des cours sur
                    les methodes Agiles et sur les conceptes de POO. Tout ces sujets ont pus être exploité en projets seul ou en groupe. A l'issu de cette formation j'ai pus présenter un projet 
                    gèré en Angular / .NET  devant un jury. 
                </p>
            </div>
        </div>
        
        <div class="timeline-item" data-text="projet">
            <div class="timeline__content"><img class="timeline__img" src="../../assets/filRougeAston.png" />
                <h2 class="timeline__content-title">Gamin' <br> home</h2>
                <p class="timeline__content-desc">Une application Web supporté par Angular , C# .Net. Le site d'un cyber café imaginaire</p>
            </div>
        </div>

        <div class="timeline-item" data-text="11/2021 - 01/2022">
            <div class="timeline__content"><img class="timeline__img" src="../../assets/simplon.png" />
                <h2 class="timeline__content-title">Simplon</h2>
                <p class="timeline__content-desc">La première partie d'une Formation Invest in Digital Pepole de Pole Emploi. J'y ai revu les bases d'HTML / CSS , découvert Angular 
                    et les premières bases de la manipulation de données d'API avec le framework .NET. par le bieds de projets en groupe, divers et varié, ils m'ont permis d'acquérir des
                    bonnes pratiques de travail. J'ai aussi pus commencer a travailler avec GitHub ou encore comprendre les étapes du développement d'une application en équipe.
                </p>
            </div>
        </div>

        <div class="timeline-item" data-text="projet">
            <div class="timeline__content"><img class="timeline__img" src="../../assets/JDRsimplon.jpg" />
                <h2 class="timeline__content-title">JdR Simplon</h2>
                <p class="timeline__content-desc">Humblement nommé, une application Web de groupe en HTML CSS JS natif et plus tard portée en Angular TypeScript. Est une histoire a choix multiples avec un système de vie, d'inventaire et de combat. Requettant un JSON et plus tard JSONserver</p>
            </div>
        </div>


       

        <div class="timeline-item" data-text="04/2022 - 10/2022">
            <div class="timeline__content"><img class="timeline__img" src="../../assets/sticker-hein.png" />
                <h2 class="timeline__content-title">Commis de <br> Cuisine</h2>
                <p class="timeline__content-desc">Commis de cuisine dans le restaurant de Brique House : le HEIN</p>
            </div>
        </div>

        <div class="timeline-item" data-text="08/2021 - 11/2021">
            <div class="timeline__content"><img class="timeline__img" src="../../assets/BriqueHouse.png" />
                <h2 class="timeline__content-title">Runner <br> polyvalent</h2>
                <p class="timeline__content-desc"> Runner polyvalent dans la taproom de Brique House à Saint André Lez Lille.</p>
            </div>
        </div>
        </div>
    </div>

