<section class="modal none">

    <div class="modalContent">
        <h2>Contact</h2>
        <p>Contactez moi ! n'hésitez pas </p>
        <div class="top">
            <div class="one">
                <input type="text" placeholder="Name">
                <input class="longer" type="text" placeholder="Subject">
            </div>
            <div class="two">
                <input type="text" placeholder="Phone Number">
                <input class="longer" type="email" placeholder="@Mail">
            </div>
        </div>
        <div class="bottom">
                <textarea style="resize: none ;"
                    placeholder="Contactez moi !! ce message est déstiné à être envoyé sur une boîte mail après que vous ayez appuyé sur 'envoyer'."></textarea>
            <button class=" button submit">envoyer</button>
        </div>

        </div>
   

</section>